<!DOCTYPE html>
<html>
   <link rel="stylesheet" type="text/css" href="static/mystyle.css">
   <head>
      <title> Connecc </title>
   </head>
   <body onload = "loadSession()">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="static/handlebars-v4.0.11.js"></script>
      <div class="Header"></div>

      <!--Navigation Bar-------------------------------->
      <div class="NavBar">
         <img src="static/pepe.png">
         <h>Connecc</h>
         <a href="/signout"     >Sign Out    </a>
         <a class="active" href="/editP"      >Edit Profile</a>
         <a href="/file"       >Files       </a>
         <a href="/messaging"  >Messenger   </a>
         <a href="/home">Profile     </a>
      </div>

      <!--Main body of the page-------------------------->
      <div class="Content" id = "Content">

         <!--Messages are displayed here-------------------->
         <div id="pDisp" class="pDisp"> </div>

         <!--Default text goes here-------------------->
         <div id="default">
             <img src="https://media1.tenor.com/images/db85ba00c6073b451a8f05156a66524e/tenor.gif?itemid=9856796"></img>
         </div>
      </div>

      <script>
         function loadSession() {
         	$.getJSON('/getSessionUserJSON', function(data) {
         		setUpEdit(data.USERNAME);});
         } 
      </script>

      <!--Setup message display-->
      <script id = "editProfileTemplate" type = "text/x-handlebars-template"> 
         <div class="profileContainer">
         <p9 id = "currentUser" value ={{username}}> <b>{{username}}</b> <br></p9>
         
         <form onSubmit="return updateProfile();">
         
         <label for="fullname"><b>Full Name</b></label>
         <input id="fullname" type="text" value= "{{fullname}}"  />
         
         <label for="position"><b>Position</b></label>
         <input id="position" type="text" value= "{{position}}"  />
         
         <label for="location"><b>Location</b></label>
         <input id="location" type="text" value= "{{location}}" />
         
         <label for="picture"><b>Picture URL</b></label>
         <input id="picture" type="text" value= "{{picture}}" />

         <label for="description"><b>Description</b></label>
         <input id="description" type="text" value= "{{description}}"  />
         
         <input type="submit" value="Update Profile" />
         </form>
         </div>
      </script>

      <script>
         function updateProfile() {
         	var username = window.name;
         	var fullname = document.getElementById('fullname').value;
         	var position = document.getElementById('position').value;
         	var description = document.getElementById('description').value;
         	var location = document.getElementById('location').value;
         	var picture = document.getElementById('picture').value;
         	$.getJSON('/profileEdit?profile_username='+username+'&fullname='+fullname+'&position='+position+'&description='+description+'&location='+location+'&picture='+picture, function(data) {});
         	setUpEdit(username);
         	$("#pDisp").html("<p> successfully updated</p>");
         return false;
         } 
      </script>

      <script>
         function editProfileDisp(user) {
          	$("#pDisp").html("");
           	var myInfo = document.getElementById("editProfileTemplate").innerHTML;
           	$.getJSON('/getProfileJS?profile_username='+user).then( function(data) {
         		var template = Handlebars.compile(myInfo);
           		var html = template(data);
         
         	$("#pDisp").html(html);
         });
          
         } 
      </script>

      <script>
         function setUpEdit(user) {
         	$("#default").html("");
         	window.name = user;
         	var x = window.name;
         	editProfileDisp(x);
          
         } 
      </script>
   </body>
</html>
