<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="static/mystyle.css">

<head>
    <title> w0w </title>
</head>

<body onload="loadUsers()">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/handlebars-v4.0.11.js"></script>

    <div class="Header">
    </div>


    <!--Navigation Bar-------------------------------->
    <div class="NavBar">
        <img src="static/pepe.png">
        <h>Connecc</h>
        <a href="/logout">Sign Out    </a>
        <a href="/editP">Edit Profile</a>
        <a class="active" href="/file">Files       </a>
        <a href="/messaging">Messenger   </a>
        <a href="/home">Profile     </a>
    </div>


    <!--Vertical Userlist------------------------------>
    <div class="Userlist" id="Users">

    </div>


    <!--Main body of the page-------------------------->
    <div class="Content" id="Content">

        <!--Messages are displayed here-------------------->
        <div id="fileDisp" class="fileDisp"> </div>

        <!--Message form is displayed here----------------->
        <div id="fileInput"> </div>

        <!--Default text goes here-------------------->
        <div id="default">
            <img src="https://media1.tenor.com/images/db85ba00c6073b451a8f05156a66524e/tenor.gif?itemid=9856796"></img>
        </div>
    </div>


    <!--Setup online users to be display-->
    <script id="userlistTemplate" type="text/x-handlebars-template">

        {{#each this}}
        <div>
            <a href="javascript:void(0);" onclick="setUpMsg('{{USERNAME}}')">{{USERNAME}} </a>
	<p10> {{ONLINE}}</p10>
        </div>
        {{/each}}
    </script>

    <script>
        function loadUsers() {
            var myInfo = document.getElementById("userlistTemplate").innerHTML;

            $.getJSON('/onlineJSON', function(data) {

                var template = Handlebars.compile(myInfo);
                var html = template(data);

                $("#Users").append(html);
            });
        }
    </script>

    <!--Setup message display-->
    <script id="msgDispTemplate" type="text/x-handlebars-template">

        <div class=" msgScreen">

            {{#each this}}

            <div class="msgContainer">
                <p1><b>{{SENDER}}</b>: {{MESSAGE}} <i>sent@{{STAMP}}</i></p1>
            </div>

            {{/each}}
        </div>
    </script>

    <script>
        function msgDisp(user) {
            $("#fileDisp").html("");
            var myInfo = document.getElementById("msgDispTemplate").innerHTML;
            $.getJSON('/getMsgJSON?username=' + user, function(data) {
                var template = Handlebars.compile(myInfo);
                var html = template(data);
                $("#fileDisp").html(html);
            });

        }
    </script>

    <!--Setup input form for messages-->
    <script id="msgFormTemplate" type="text/x-handlebars-template">
        <div id="inputForm" class="iForm">

            <form method="post" enctype="multipart/form-data" form action="/sendFile?sender=x&destination={{username}}">
                <div>
                    <label for="file_uploads">Choose a file to upload</label>
                    <input type="file" id="file1" name="file1">
                    <input type="submit" value="Send File" />
                </div>
                <div class="preview">
                    <p>No files currently selected for upload</p>
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>


        </div>
    </script>

    <script>
        function msgForm(user) {
            var myInfo = document.getElementById("msgFormTemplate").innerHTML;

            var data = {
                username: user
            };
            var template = Handlebars.compile(myInfo);
            var html = template(data);

            $("#fileInput").html(html);
        }
    </script>

    <script>
        function sendMsg(destination) {
            var response = document.getElementById('message').value;
            $.getJSON('/msgJS?destination=' + destination + '&message=' + response, function(data) {});
            setUpMsg(window.name);
            return false;
        }
    </script>

    <script>
        function setUpMsg(user) {
            $("#default").html("");
            window.name = user;
            var x = window.name;
            msgDisp(x);
            msgForm(x);

        }
    </script>

</body>

</html>
