<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="mystyle.css">

<head>
    <title>Page Title</title>
</head>

<header>
    <h1>
        title
    </h1>
    <nav>
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>
    </nav>
</header>

</header>


<body>
<div class="Content">
    <h2>This is a Heading</h2>
    <p>This is a paragraph.</p>

</div>

<div>
</div>

</body>

<footer>
    Copyright &copy; downloadmoreram.com
</footer>

</html>
