<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="mystyle.css">

<div class = "Header">
    <h1>
        title
    </h1>
<title>Page Title</title>
    
</div>
<div class="NavBar">
	<a href="default.asp">Home</a>
        <a href="news.asp">News</a>
        <a href="contact.asp">Contact</a>
        <a href="about.asp">About</a>
</div>
</header>


<body>
<div class="Content">
    <h2>This is a Heading</h2>
    <p>This is a paragraph.</p>

</div>

<div>
</div>

</body>

<footer>
    Copyright &copy; downloadmoreram.com
</footer>

</html>
