div.container {
	padding: 16px;
	margin: auto;
width: 50%;
	}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid silver;
}

form {
	border: 3px solid blue;
	height: 96%;
	
}

button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

div.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo {
    width: 35%;	
}

html {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-family: Arial, Helvetica, sans-serif;
}




