 div.NavBar {
     background-color: steelblue;
     width: 100%;
     height:10%;
     overflow: hidden;
}
 div.NavBar h {
     color:white;
     font-weight: bold;
     font-size: 100%;
     font-family: "Verdana";
}
 div.NavBar img {
     max-width: 5%;
     max-height: 5%;
}

 div.NavBar a {
     float: right;
     color: white;
     text-align: center;
     padding: 2% 4vw;
     text-decoration: none;
     font-size: 17px;
}
 div.NavBar a:hover {
     background-color: #ddd;
     color: black;
}
 div.NavBar a.active {
     background-color: lightsteelblue;
     color: white;
}
 div.Userlist {
     width: 30vw;
     height: 90vh;
     overflow-y: scroll;
     float: right;
     bottom:0;
}
 div.Userlist div {
     background-color: #eee;
     color: steelblue;
     display: block;
     padding: 5px;
     
     border-style: solid;
}
 div.Userlist a {
     text-decoration: none;
     color: slategray;
}
 div.Userlist div:hover {
     background-color: #ccc;
}
 div.Userlist div.active {
     background-color: lightsteelblue;
     color: white;
}
 div.Userlist div p10 {
     color: green;
     font-size: 4vh;
     font-style: italic;
     float:right;
}
 div.Userlist p4 {
     padding: 15px;
     display:block;
     background-color:steelblue;
     color:white;
}
 div.Content {
     margin-left:5vw;
     width:60vw;
}
 div.Content img {
     width:auto;
     height:auto;
     float:right;
}
 div.Content div.msgScreen {
     height: 80vh;
     overflow-y: auto;
}
 div.Content div.msgDisp {
     overflow-y: auto;
     
}
 .msgContainer p1 {
     background-color:seashell;
}
 .msgContainer p1 {
     border: 2px solid #dedede;
     background-color: #f1f1f1;
     border-radius: 5px;
     padding: 10px;
     margin: 10px 0;
     float: left;
     max-width: 45vw;
     width: 100%;
     margin-right: 2vw;
     margin-left: 1vw;
}
 div.Content div.iForm {
     background-color:green;
     height: 10vh;
     margin:1vh auto;
}
 div.Content div.iForm input[type=text] {
     width:40vw;
     padding:3vh 0;
     box-sizing: border-box;
     display: inline-block;
     border: 1px solid silver;
}
 div.Content div.iForm input[type=submit] {
     background-color: steelblue;
     color: white;
     width:10vw;
     padding:3vh;
     border: none;
     cursor: pointer;
}
 div.Header p8 {
     color:white;
}
 html{
     overflow-x:hidden;
     overflow-y: hidden;
     width: 100vw;
}
 body {
     margin: 0;
     font-size: 28px;
     font-family: Arial, Helvetica, sans-serif;
}
 div.Content div.profileScreen {
     height: 75vh;
     overflow-y: auto;
}

.profileContainer {
     padding:5vh;
     background-color:seashell;
     width: 50vw;
     margin:auto;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     border: 1px solid silver;
height: 80vh;
     overflow-y: auto;
}
.pImg{
     width:300px;
     height:300px;
     margin:auto;

}
.pImg img{
     text-align:center;
     max-height:100%;
     max-width:100%;

}

 input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid silver;
}

p9 {
float:right;
margin-right:2vw;
font-style: italic;
}

input[type=submit] {
float:right;
margin-right:2vw;
}
